/* Garante que o header tenha um fundo fixo e um layout flexível */
.class-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
}

/* Coloca o botão de menu no canto direito */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto; /* Empurra o botão para a direita */
}

/* Resto do código para o botão de menu */
.hamburger {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

nav {
  display: flex;
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 15px;
  transition: font-size 0.3s, color 0.3s;
}

nav a:hover {
  color: #61dafb;
  font-size: 21px;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex; /* Torna o botão de menu visível em telas pequenas */
  }

  nav {
    display: none; /* Esconde o menu por padrão */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282c34;
    width: 60vw; /* Largura relativa: ocupa 60% da largura da tela */
    height: 100%;
    padding: 2em 1em;
    flex-direction: column;
    z-index: 999; /* Coloca o menu acima de outros elementos */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); /* Sombra discreta */
    transition: transform 0.3s ease-in-out;
  }

  nav.active {
    display: flex; /* Exibe o menu quando estiver ativo */
    transform: translateX(0); /* Garante que o menu deslize para a tela */
  }

  nav a {
    font-size: 16px;
    margin: 15px 0;
    text-align: left;
  }

  .hamburger {
    background-color: white;
  }

  /* Sobreposição para o fundo */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Inicialmente invisível */
    z-index: 998; /* Fica atrás do menu */
  }

  .overlay.active {
    display: block; /* Aparece quando o menu estiver ativo */
  }
}

@media (max-width: 480px) {
  .menu-toggle {
    width: 25px;
    height: 25px;
  }

  .hamburger {
    width: 20px;
    height: 2px;
  }
}
