.class-projects {
  padding: 40px;
  background-color: #f9fafb;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsivo */
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.project-item {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.project-item:hover {
  background-color: #61dafb;
  transform: scale(1.05);
  color: white;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-name {
  margin-top: 10px;
  font-weight: bold;
}

.project-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  max-width: 600px;
  margin: 20px auto;
}

.github-button {
  display: block;
  background-color: #0366d6;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  margin: 10px auto;
}

.github-button:hover {
  background-color: #024ea2;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.back-button:hover {
  background-color: #333;
  color: white;
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
  .projects-title {
    font-size: 1.5rem; /* Reduzir o tamanho do título em telas pequenas */
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Reduzir o tamanho das colunas em telas pequenas */
  }

  .project-item {
    padding: 10px; /* Reduzir o padding dos projetos para melhor adaptação */
  }

  .project-name {
    font-size: 1rem; /* Ajustar o tamanho do nome do projeto */
  }

  .github-button {
    padding: 8px 16px; /* Ajustar o tamanho do botão */
  }

  .back-button {
    padding: 8px 16px; /* Ajustar o tamanho do botão de voltar */
  }

  .project-description {
    font-size: 0.9rem; /* Reduzir o tamanho da descrição */
  }
}
