/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Ocupa a largura e altura total da página */
  html, body {
    width: 100%;
    margin: 0;
    padding: 0; 
    height: 100%;
    overflow-x: hidden; /* Previne rolagem horizontal indesejada */
    box-sizing: border-box;
  }

  /* MODIFICAÇÕES FEITA PARA A PAGINA OCUPAR TODO O ESPAÇÃO DISPONIVEL PELO NAVEGADOR */

  @media (max-width: 768px) {
    /* Ajustes globais para telas menores */
    body {
      font-size: 16px;
    }
  
    html, body {
      overflow-x: hidden; /* Previne rolagem horizontal */
    }
  }